<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Login", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",   homet_path %></li>
        <li><%= link_to "Create",   create_path %></li>
        <li><%= link_to "StudentList",   studentlist_path %></li>
        <li><%= link_to "StudentInfo", studentinfo_path %></li>

      </ul>
    </nav>
  </div>
</header>
