<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Login", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",   homes_path %></li>
        <li><%= link_to "History",   history_path %></li>
        <li><%= link_to "Timeline",   timeline_path %></li>
        <li><%= link_to "Weather", weather_path %></li>
        <li><%= link_to "Extra",   extraresources_path %></li>
      </ul>
    </nav>
  </div>
</header>
